{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}


  <div class="login-content">

        <div class="login-form">

            
            <form action="login-traitement.php" method="post">
                <h2 class="form-title">CONNEXION</h2>    
                <div class="form-element">
                    <input type="email" name="email" class="form-control" placeholder="Email" required="required" autocomplete="off">
                </div>
                <div class="form-element">
                    <input type="password" name="password" class="form-control" placeholder="Password" required="required" autocomplete="off">
                </div>
                <div class="form-element form-submit">
                    <button type="submit" class="form-btn ">VALIDER</button>
                </div>   
            </form>

           

            <div class="form-redirect">
                <p> Vous n'avez pas de compte ? <br> <a href="{{ path("inscription") }}">S'inscrire</a></p>
            </div>

            
        </div>

        
       
</div>	




{% endblock %}