{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
 <div class="loading-text">
        
    <h1 class="loading text"> Vous allez être redirigé vers la page de paiement... </h1>
    
<div class="spinner"></div>
{% endblock %}
