{% extends 'base.html.twig' %}

{% block title %}MATCHS DOUBLE{% endblock %}

{% block body %}

  <div class="choix-match-content">
    <div class="choix-match-left">

        <form action="match-double-traitement.php" method="post" class="filtre-matchs">

            <div class="filtre-match-element">
                <select name="joueur" id="select-joueur" class="match-select"> <!-- remplir choix avec ceux de la BD -->
                    <option value="">Choisir Equipe</option>
                    <option value="2">2</option>
                    <option value="2">3</option>
                    <option value="4">4</option>           
                </select>
            </div>

            <div class="filtre-match-element">

                <select name="date" id="select-date" class="match-select"> <!-- remplir choix avec ceux de la BD -->
                    <option value="">Choisir un jour</option>
                    <option value="2">2</option>
                    <option value="2">3</option>
                    <option value="4">4</option>          
                </select>
            </div>

            <div class="filtre-match-element">
                <select name="tour" id="select-tour" class="match-select"> <!-- Pas besoin ici ??? -->
                    <option value="">Choisir un tour</option>
                    <option value="Q">Qualification</option>
                    <option value="1tour">1er tour</option>
                    <option value="1/8">1/8E de finale</option>
                    <option value="1/4">1/4 de finale</option>  
                    <option value="1/2">DEMI-FINALE</option> 
                    <option value="F">FINALE</option>      
                </select>
            </div>

            <div class="filtre-match-button filtre-match-element">
                <button type="submit" class="slide" onclick="window.location.href = 'match-categ.php';">FILTRER</button>
            </div>

        </form>
    </div>

    <div class="choix-match-right">
        <div class="choix-match-title">
            <h2> Liste des matchs du tournoi Double </h2>
        </div>

        <div class="choix-match-liste"> 

            <!-- foreach de tout les matchs simple de la BD -->

            <a href="{{ path("match_categ") }}"><!-- Lien à relier au match choisis-->
                <div class="liste-match-element">

                    <div class="liste-match-element-left">
                        <h1>Joueur 1/Joueur 2 vs joueur 3/joueur4</h1> <!---afficher informations à partir de la BD -->
                        <div class="liste-match-element-infos">
                            <h2> A tel date </h2>
                            <h2> Tour </h2>
                        </div>
                    </div>

                    <div class="liste-match-element-right">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                        </svg>
                    </div>  

                </div>
            </a>

           <a href="{{ path("match_categ") }}"><!-- Lien à relier au match choisis-->
                <div class="liste-match-element">

                    <div class="liste-match-element-left">
                        <h1>Joueur 1/Joueur 2 vs joueur 3/joueur4</h1> <!---afficher informations à partir de la BD -->
                        <div class="liste-match-element-infos">
                            <h2> A tel date </h2>
                            <h2> Tour </h2>
                        </div>
                    </div>

                    <div class="liste-match-element-right">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                        </svg>
                    </div>  

                </div>
            </a>

            
            <a href="{{ path("match_categ") }}"><!-- Lien à relier au match choisis-->
                <div class="liste-match-element">

                    <div class="liste-match-element-left">
                        <h1>Joueur 1/Joueur 2 vs joueur 3/joueur4</h1> <!---afficher informations à partir de la BD -->
                        <div class="liste-match-element-infos">
                            <h2> A tel date </h2>
                            <h2> Tour </h2>
                        </div>
                    </div>

                    <div class="liste-match-element-right">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                        </svg>
                    </div>  

                </div>
            </a>

             
        </div>
    </div>
  </div>


{% endblock %}
