{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}
{% block javascripts %} <script type="text/javascript" src="{{ asset("js/match-billets.js") }}"></script> {% endblock %}
{% block body %}

<body>


<div class="billets-page-content">

    <div class="billets-form-content">
    
        <div class="billets-top">

            <div class="billets-image">
                <img src="{{ asset("images/openparc-logo.png") }}" alt="logo open parc">
            </div>

            <div class="billets-info">
                <header><strong>  MATCH </strong></header> <!-- afficher infos du match sélectionnés -->
                <h2> date </h2>
                <h2>  lieu </h2>
                <h2>  CATEGORIE  </h2>
            </div>
            
        </div>

        <div class="billets-bottom">
            <form action="./php/match-billets-traitement.php" class="billets-form" method="post">

                <div class="billets-form-element element-borderbottom">
                    <label for="type-select">Types de billets</label>
                


                    <select class="billets-select" onchange="reduce_check(this);">

                        <option value="GP">Grand public</option>
                        <option value="L">Licencié</option>
                        <option value="JDS">Journée de la solidarité</option>
                    </select>


                </div>

                <div class="billets-form-element element-borderbottom" id="ifL" style="display: none;">
                        <label  for="reduce_code"> Ajoutez votre n°Licence  </label> <input type="text" id="reduce_code" name="reduce_code" /><br/>
                
                    </div>

                    <div class="billets-form-element element-borderbottom" id="ifJDS" style="display: none;">
                        <label  for="reduce_code"> Ajoutez votre n°Associatif  </label> <input type="text" id="reduce_code" name="reduce_code" /><br/>
                
                    </div>

                   

                <div class="billets-form-element element-borderbottom" id="ifReduce" style="display:none;">
                    <label for="reduce_code"> Ajoutez votre n°Licence : </label> <input type="text" id="reduce_code" name="reduce_code" /><br/>
                
                </div>

                <div class="billets-form-element element-borderbottom">
                    <label>  prix unitaire  </label>
                </div>

                <!-- SI billets de categorie 1 et loges -->
                <div class="billets-form-element element-borderbottom">
                    <label for="nb-select">Nombre de place</label>

                    <input type="number" min="1" name="nbplaceAdult"  class="nbBillet" required>
                </div>
                

                    <!-- SI BILLETS DE CATEGORIE 2

                <div class="billets-form-element element-borderbottom">
                    <label for="nb-select">Nombre de place Adultes</label>

                    <input type="number" min="1" name="nbplaceAdult" class="nbBillet" required>

                </div>

                <div class="billets-form-element element-borderbottom">
                    <label for="nb-select">Nombre de place -12</label>

                    <input type="number" min="1" name="nbplaceChild" class="nbBillet" required>

                    </select>
                </div>

                -->

                

                <div class="billets-form-element element-borderbottom">
                    <label> TOTAL :  prix x nbplace </label>
                </div>   
                

                <div class="billets-form-button">
                    <button type="submit" class="billets-submit">
                        Payer les places
                    </button>
                </div>   

            </form>
        </div>



    </div>

</div>


{% endblock %}