{% extends 'base.html.twig' %}

{% block title %}Hello MonEspaceController!{% endblock %}

{% block body %}

<!-- Acces que si connecté -->
 



<div class="mon-espace-content">

    <header class="mon-espace-title">
        MES BILLETS
    </header>

    <div class="mes-achats-liste">

    <!-- foreach billets achetés -->

                <div class="mes-achats-element">
                    <h1>les joueurs<h1> <!---afficher informations à partir de la BD -->
                    <div class="mes-achats-element-infos">
                        <h2> A tel date </h2>
                        <h2> Tour </h2>
                        <h2> Categorie </h2>
                        <h2> nb de billets </h2>
                    </div>
                </div>

                <div class="mes-achats-element">
                    <h1>les joueurs<h1> <!---afficher informations à partir de la BD -->
                    <div class="mes-achats-element-infos">
                        <h2> A tel date </h2>
                        <h2> Tour </h2>
                        <h2> Categorie </h2>
                        <h2> nb de billets </h2>
                    </div>
                </div>

                <div class="mes-achats-element">
                    <h1>les joueurs<h1> <!---afficher informations à partir de la BD -->
                    <div class="mes-achats-element-infos">
                        <h2> A tel date </h2>
                        <h2> Tour </h2>
                        <h2> Categorie </h2>
                        <h2> nb de billets </h2>
                    </div>
                </div>

                <div class="mes-achats-element">
                    <h1>les joueurs<h1> <!---afficher informations à partir de la BD -->
                    <div class="mes-achats-element-infos">
                        <h2> A tel date </h2>
                        <h2> Tour </h2>
                        <h2> Categorie </h2>
                        <h2> nb de billets </h2>
                    </div>
                </div>
    </div>

</div>



{% endblock %}
