{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}


  <div class="login-content">

        {{form_start(form)}}
        <div class="login-form">

            
            <form action="connexion" method="post">
            
                <h2 class="form-title">CONNEXION</h2>    
                <div class="form-element">
                    {{form_row(form.mail)}}
                </div>
                <div class="form-element">
                    {{form_row(form.mdp)}}
                </div>
                <div class="form-element form-submit">
                    <button type="submit" class="form-btn ">Valider</button>
                </div> 
                
            </form>

           

            <div class="form-redirect">
                <p> Vous n'avez pas de compte ? <br> <a href="{{ path("inscription") }}">S'inscrire</a></p>
            </div>

            
        </div>

        
       
</div>	




{% endblock %}