{% extends 'base.html.twig' %}

{% block body %}


 


<div class="main-content">
    <div class="main-presentation">
      <div class="presentation-text">
       <h1> Bienvenue sur la Billeterie de l'Open Parc Auverge-Rhône Alpes ! </h1>
       <h2> Rendez-vous au parc de la tête d'or pour la 5e édition de l'open parc du 15 au 21 mai 2022</h2>
      </div> 
    </div>
    <div id="tournoi-simple" class="main-tournoi">
        <h1> TOURNOI SIMPLE</h1>
        
        <div class="tournament-link">
                <button class="slide" onclick="window.location.href = '{{ path("liste_matchs_simple") }}';">ACCES >></button>
        </div>
    </div>
    <div id="tournoi-double" class="main-tournoi">
        <h1> TOURNOI DOUBLE</h1>
        <div class="tournament-link">
                <button class="slide" onclick="window.location.href = '{{ path("liste_matchs_double") }}';">ACCES >></button>
        </div>

    </div>

</div>


{% endblock %}